.bannerHead{
    font-weight: 600;
    font-size: 26px;
    color: #f6cd13;
}

.bannerButton{
    color: #ffffff;
    text-transform: capitalize;
    background:#f6cd13;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

.wrapper{
    position: relative;
    padding: 20px;
}

.backdrop{
    font-weight: 600;
    color:#f6cd13;
    font-size: 18rem;
}

.strikeThrough{
    text-decoration: line-through;
}

.quotedText{
    font-size: 3rem;
}